@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --profile-icon: null;
  --profile-border-color: #ad4eeb;
  --app-theme-color-dark: #F59E0A;
  --app-theme-color-med: #FEE68A;
  --app-theme-color-light: #FEF3C7;
  /** SECOND THEME FOR CHECK-IN **/
  /*--profile-border-color: #54bab7;*/
  /*--app-theme-color-dark: #2aa39f;*/
  /*--app-theme-color-med: #a2f2ef;*/
  /*--app-theme-color-light: #d8f2f1;*/
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@font-face {
  font-family: SatoshiBold;
  src: url(../../assets/fonts/Satoshi-Bold.otf);
}

@font-face {
  font-family: SatoshiMedium;
  src: url(../../assets/fonts/Satoshi-Medium.otf);
}

@font-face {
  font-family: SatoshiRegular;
  src: url(../../assets/fonts/Satoshi-Regular.otf);
}

@font-face {
  font-family: SatoshiLight;
  src: url(../../assets/fonts/Satoshi-Bold.otf);
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

*{
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}

.profile-border-color {
  border-color: var(--profile-border-color)
}

.profile-color-background {
  background: var(--profile-border-color);
}

.dark-theme-color {
  background: var(--app-theme-color-dark);
}

.med-theme-color {
  background: var(--app-theme-color-med);
}

.light-theme-color {
  background: var(--app-theme-color-light);
}

main {
  display: flex;
  flex-direction: column;
  height: 667px;
  width: 376px;
  left: 0;
  right: 0;
  color: black;
}

#content {
  overflow: scroll;
  height: 100%;
}

.text-bold {
  font-family: SatoshiBold
}

.text-medium {
  font-family: SatoshiMedium
}

.text-regular {
  font-family: SatoshiRegular
}

.text-light {
  font-family: SatoshiLight
}